body {
    font-family: 'Alegreya', serif;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
  }

.container {
    padding-right: 75px;
    padding-left: 75px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.clear {
    clear: both;
}



/*############### page hmoe #############*/



/*home*/

.home {
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
}

.home::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/20%);
    z-index: -1;
}

.home .nav {
    padding: 20px 0px;
}

.home .nav .logo {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.home .nav .logo img {
    width: 180px;
}

.home .nav .links {
    display: inline-block;
}

.home .nav .links li {
    display: inline-block;
    padding: 12px;
}

.home .nav .links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.home .nav .links li a:hover {
    color: #8e7754;
}

.home .content {
    text-align: center;
    margin: 200px auto 90px;
    color: white;
    width: 690px;
}

.home .content .pr1 {
    font-size: 22px;
    margin: 0px;
}

.home .content h1 {
    font-size: 78px;
    font-weight: 100;
    margin: 0px 0px 15px;
}

.home .content .pr2 {
    font-size: 23px;
    line-height: 1.6;
}

.home .content button {
    font-size: 14px;
    font-weight: 600;
    padding: 18px 25px;
    color: white;
    margin: 15px 5px 0px;
    border-radius: 3px;
    transition: 0.3s;
}

.home .content .btn1 {
    background-color: #8e7754;
    border: none;
}

.home .content .btn2 {
    background-color: transparent;
    border: 2px solid white;
}

.home .content button:hover {
    background-color: white;
    color: black;
}

.home .animation {
    width: 30px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin: auto;
    cursor: pointer;
    position: relative;
}

.home .animation div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    left: 11px;
    top: 9px;
    opacity: 0;
    position: absolute;
    animation: cir 2s ease-in-out infinite;

}

@keyframes cir {

    0%,
    100% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        top: 22px;
    }



}

/*home*/




/*who-we*/

.who-we {
    padding-top: 90px;
    padding-bottom: 90px;
}

.who-we .image {
    display: inline-block;
    width: 54%;
}

.who-we .image img {
    width: 87%;
}

.who-we .info {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-top: 25px;
}

.who-we .info h1 {
    font-weight: 100;
}

.who-we .info p {
    font-size: 15.5px;
    line-height: 1.8;
    color: #777;
    margin-bottom: 30px;
}

.who-we .info .icons li {
    color: #777;
    font-size: 17px;
    margin-bottom: 20px;
}

.who-we .info .icons li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #eee;
    margin-right: 10px;
    vertical-align: middle;
}

/*who-we*/




/*location*/

.location {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f8f8f8;
}

.location .text {
    display: inline-block;
    width: 52%;
    vertical-align: top;
    margin-top: 40px;
}

.location .text h1 {
    font-weight: 100;
}

.location .text p {
    width: 90%;
    color: #777;
    line-height: 1.8;
    font-size: 16px;
}

.location .photo {
    display: inline-block;
    width: 47%;
}

.location .photo img {
    width: 100%;
}

/*location*/



/*our-Baking*/

.our-baking {
    padding-top: 90px;
    padding-bottom: 90px;
}

.our-baking .box {
    float: left;
    width: 33.3333%;
    text-align: center;
}

.our-baking .box img {
    width: 90%;
}

.our-baking .box h2 {
    font-weight: 100;
}

.our-baking .box p {
    width: 90%;
    color: #777;
    line-height: 1.8;
}

/*our-Baking*/




/*contact information*/

.contact-information {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f8f8f8;
}

.contact-information .info {
    float: left;
    width: 50%;
}


.contact-information .info h1 {
    font-weight: 100;
}

.contact-information .info p {

    font-size: 17px;
    color: #777;
    line-height: 1.6;
}


.contact-information .info span {
    display: block;
    margin-top: 35px;
    color: #777;

}

.contact-information .info li {
    color: #777;
    font-size: 17px;
    margin-top: 30px;
}

.contact-information .info ul li img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #8e7754;
    vertical-align: middle;
}



.contact-information .map {
    float: left;
    width: 50%;
}

.contact-information .info li img {
    background-color: red;
    width: 100px;
    margin-right: 15px;
}


iframe {
    width: 88%;
    height: 600px;
    margin-left: 70px;
    filter: brightness(50%);
}

/*contact information*/




/*group*/

.group {
    padding-top: 45px;
    padding-bottom: 60px;
    background-color: #403d38;
}

.group .box {
    float: left;
    width: 24%;
    margin-right: 12px;
}

.group .box h3 {
    color: white;
    font-weight: 100;
}

.group .box p {
    color: #969696;
    line-height: 1.8;
    font-size: 16px;
}

.group .box ul li {
    color: #969696;
    font-size: 16px;
    padding: 10px 0px;
}

.group .box ul li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.group .box li img {
    width: 15px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 3px;
}

.group .box .end img {
    width: 35px;
}

/*group*/






/*footer*/

.footer {
    padding-top: 60px;
    padding-bottom: 45px;
    background-color: #353330;
    text-align: center;
}

.footer img {
    width: 350px;
}

.footer p {
    color: #777;
    font-size: 14px;
}

.footer .icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #454840;
    margin: 15px 5px 0px 0px;
    transition: 0.3s;
}

.footer .icons .face:hover {
    background-color: #414A79;
}

.footer .icons .goog:hover {
    background-color: #b4401c;
}

.footer .icons .link:hover {
    background-color: #2077a5;
}

.footer .icons .twit:hover {
    background-color: #25A6ED;
}

/*footer*/




/*############### page about #############*/



/*about*/

.about .nav {
    padding: 15px 0px;
}

.about .nav .logo {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}

.about .nav .logo img {
    width: 180px;
}

.about .nav .links {
    display: inline-block;
}

.about .nav .links li {
    display: inline-block;
    padding: 12px;
}

.about .nav .links li a {
    text-decoration: none;
    color: #969696;
    font-size: 18px;
    transition: 0.3s;
}

.about .nav .links li a:hover {
    color: #8e7754;
}

/*about*/



/*landing*/

.landing {
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 98.5%;
    text-align: center;
    padding: 25px;
    position: relative;
    z-index: 1;
}

.landing::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/20%);
    z-index: -1;
}

.landing h1 {
    color: white;
    font-weight: 100;
    font-size: 60px;
    margin: 0px;
}

.landing p {
    color: white;
    font-size: 17px;
}

/*landing*/




/*our-story*/

.our-story {
    padding-top: 90px;
    padding-bottom: 90px;
}

.our-story .image {
    float: left;
    width: 53%;
}

.our-story .image img {
    width: 87%;
}

.our-story .text {
    float: left;
    width: 47%;
}

.our-story .text h1 {
    font-weight: 100;
    margin-top: 70px;
}

.our-story .text p {
    color: #606060;
    font-size: 17px;
    line-height: 1.8;
}

.our-story .text hr {
    width: 45px;
    opacity: 0.3;
    margin: 30px 0px;
}

/*our-story*/


.scrol{
    position: fixed;
    bottom: 12px; 
    right: 10px; 
    z-index: 99; 
    border: 1px solid #969696; 
    outline: none; 
    background-color: white; 
    width: 37px;
    height: 37px;
    border-radius: 50%; 
    cursor: pointer; 
    padding: 15px; 
    background-image: url(images/arrow.png);
    background-size: cover;

}

.scrol img{
    width: 5px;
}

